$font-family: "Poppins", sans-serif;

$main-color: #444444;
$prim-color: #2991d6;
$colorWhite: #ffffff;

$breakpoints: (
  "xsmall": 426px,
  "small": 576px,
  "medium": 768px,
  "large": 993px,
  "mdlarge": 1024px,
  "xlarge": 1200px,
  "xxlarge": 1441px,
  "xxxlarge": 1500px,
);